body {
  background: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url('./photo/image.jpg') no-repeat center center fixed;
  background-size: cover; 
  height: 100vh; 
  margin: 0;

}
@font-face {
  font-family: 'MyFont';
  src: url('../src/assets/fonts/Catacombs\ V1-0.ttf') format('truetype');
} 

@font-face {
  font-family: 'MYfont_for_logo';
  src: url('../src/assets/fonts/DischargePro.ttf') format('truetype');
} 