.profile_page {
    margin: 1vw;
    display: block;
    justify-content: space-between; 
    padding: 20px;
    color:rgb(145, 145, 145);
    font-family: 'MYfont_for_logo';
}

.profile_page_change {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.info_about_user {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px; 
    font-size: 1.5vw;
}
.info_about_user img{
    width: 25vw;
}

.edit_profile {
    position: absolute;
    top:220px;
    margin-right: 5vw;
    right: 20px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit_profile button:hover{
    font-size: 1.1vw;
    color: red;
}
.edit_profile button{
    font-size: 1.3vw;
    width: 250px;
    color: rgb(233, 231, 231);
    background-color: inherit;
    border: none; 
    border-bottom: 2px solid white; 
    cursor: pointer;
    font-family: 'MYfont_for_logo';
    
}
.button_change_or_reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
}

.info_about_user input{
    margin-left: 55px;
    color:white;
    background: rgb(61, 61, 61);
}

.info_about_user button{
    font-size: 1.5vw;
    font-family: 'MYfont_for_logo';
    color:rgb(145, 145, 145);
}