.modalWin_ {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    backdrop-filter: blur(3px);
    font-family: 'MYfont_for_logo';
}

.form_for_create_or_entrance {
    background: url('../../photo/Picture_for_ModalWin.jpg');
    background-size: cover;     
    background-position: center;    
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(46, 25, 25);
    position: relative;
    margin: 0 auto; 
}

.form_for_create_or_entrance::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

.form_for_create_or_entrance > * {
    position: relative;
    z-index: 2; 
}

.form_for_create_or_entrance form {
    display: flex;
    flex-direction:column; 
    align-items: center; 
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(190, 190, 190);
}

.close-button:hover {
    color: rgb(107, 45, 45);
}

h2 {
    color: white;
    font-size: 2vw;
    text-align: center;
}

.button_in_lobby{
    margin-right: 40px;
}