
.lobby_win{
    margin: 1vw 5vw 2vw 5vw;
}

.Button_entrance_or_create_lobby{
    display: flex;
    justify-content: end;
}

.list_of_lobby{
    margin-top: 2vw;
    height: 20vh;
    border: 2px solid rgb(158, 158, 158);

}