.user-box {
    position: relative;
    margin-bottom: 30px;
    font-size: 1.1vw;
    font-family: 'MYfont_for_logo', sans-serif;  
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid  rgb(93, 7, 7);
    outline: none;
    background: rgb(8, 14, 20);
    font-family: 'MYfont_for_logo';
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    padding-left: 10px;
}

.user-box input:focus ~ label, 
.user-box input:valid ~ label {
    top: -30px;
    left: 0;
    color:  rgb(255, 255, 255);
    font-size: 16px;
}

span{
    color:red;
    font-size: 1.4vw;
}

.toggle-password{
   margin-top: -10px;
}