.contact-button {
    color:rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.8vw;
    width: 240px;
    height: 55px;
    margin-left: 40px;
    font-family: 'MyFont', sans-serif;
}

  .red {
    background-color: #DA8080;
  }
  .white {
    background-color: #FFFFFF;
  }

  .button-image {
    width: 20px; 
    height: 20px;
    margin-left: 5px;
  }
  