.developer_page{
    margin:5vw;
    
    font-family: 'MyFont', sans-serif;
}

.developer_block_text-img{
    display:flex;
    justify-content: space-around;
    margin-bottom: 5vw;
    border:2px solid rgb(177, 58, 58);
}

.developer_photo img{
    width:22vw ;
}

.about_developer p{
    color:rgb(158, 158, 158);
    font-size: 1.3vw;
    font-family: 'MYfont_for_logo';
}
.about_developer h3{
    color:red;
    font-size: 2.2vw;
}
