.header_links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin:1vw 5vw 0vw 5vw;
}

.emblem_logo_link li a{
    font-size: 8vw;
    font-weight: 1000;
    color:red;
    text-decoration: none;
    font-family: 'MYfont_for_logo', sans-serif;
}

.pages_link nav{
    margin-top: 4vw;
    display:flex;
    gap:3vw;
    font-family: 'MyFont', sans-serif;
}


/* для активации ссылки */
.header_links nav li a.active {
    color: red;
    text-decoration:underline;
}

.pages_link nav li a {
    text-decoration: none;
    color:rgb(158, 158, 158);
    font-size: 1.8vw;
}